* {
    font-family: Roboto;
    margin: 0;
    padding: 0;
}

body {
    background-color: #F1F4FB;
    margin: 0 auto; 
    max-width: 1400px;
}

/****************************** START MOBILE ********************************************************/

.contenedor-logo-circle {
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.hamburger {
    width: 40px;
    height: 40px;
    background: rgb(133, 124, 124);
}
.active{
    background: rgb(189, 175, 189);
}

.active-nav{
    position:relative;
    display: flex;
    top: 140px; 
}

.bar {
    display: block;
    background-color: white;
    height: 2px;
    width: 32px;
    margin: 12px;
    border-radius: 2px;
}

/* .contenedor-nav {
    flex-direction: column;
} */

.container-formulario {
    margin: 0 4rem;
}

.caja1-form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
}

.caja2-form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: center;
        align-items: center;
}

.caja-email {
    width: -webkit-fill-available;
    margin-left: 0;
}

.caja-phone {
        width: -webkit-fill-available;
        margin-left: 0;
}

.caja3-form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
}

.container-formulario [type=text], select, textarea {
        width: 100%; /* Full width */
        padding: 12px; /* Some padding */ 
        border: 0px solid #ccc; /* Gray border */
        border-radius: 4px; /* Rounded borders */
        box-sizing: border-box; /* Make sure that padding and width stays in place */
        margin-top: 6px; /* Add a top margin */
        margin-bottom: 16px; /* Bottom margin */
        resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}
.container-formulario [type=submit] {
background-color: #072AC8;
color: white;
padding: 1.5rem 5rem;
border: none;
cursor: pointer;
width: 100%;
margin-bottom: 3rem;
}

.botones-central {
    flex-direction: column;
}

.hero-container {
    flex-direction: column;
}

.hero-text {
    padding: 0;
}
.hero-card-1, .hero-card-2 {
    display: none;
}

.grid-logos {
    align-items: center;
    align-content: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 2rem;
}

#amazon {
    display: none;
}

.card {
    width: 100%;
}

.coleccion-de-proyectos {
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.services-grid {
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin: 2vw 4vw;
}

.container-project-simplify {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-content: left: ;
    align-items: left: ;
}

.contenedor-simplify-headers {
    margin-bottom: 2rem;
}
.contenedor-simplify-headers h1 {
    font-size: 3rem;
}

.contenedor-simplify-headers h3 {
    font-size: 1.5rem;
    color: #898a8e;
}

.container-project-simplify {
    margin: 1rem 3rem;
}

.imagen-cabecera-simplify {
    margin-bottom: 2rem;
}


/****************************** START PC ********************************************************/



.contenedor-nav {
    display: flex;
    justify-content: space-between;
    margin: 0 5rem;
    padding: 0;
}
.contenedor-logo-circle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 2em;

}

.botones-central {
    padding: 0 8%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin:0;
}

.botones-central a {
    font-weight: bold;
    padding: 0 1em;
    display: inline-block;
    text-decoration: none;
    color: #6C718B
}

.contenedor-boton-contacta {
    text-align: center;
    background: #072AC8;
    width: 9em;
    margin: 1em 2em;
    padding: 1em 0;
    display: none;

}
.boton-contacta {
    color: white;
    padding: 2% 3%;
    text-decoration: none;
}

.contenedor-main {
    display: flex;
    justify-content: space-between;
    margin: 0 2%;
    padding: 0;
}
.hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5rem;
    padding: 0em;
}

.hero-text {
    padding: 10em 5em;
    padding: 4em 0;
    margin: 0 ;
}

.hero-text h1 {
    text-align: center;
    font-size: 2.2em;
    padding-bottom: 2%;
    margin: 0
}

.hero-description {
    font-size: 19px;
    text-align: center;
    color: #6C718B
}

.hero-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2em 0;
}

.see-ourwork-click {
    text-decoration: none;
    padding: 0 1em;
    color: #6C718B;
    font-weight: bold;
}

.touch-button {
    background-color: #072AC8;
    padding: 1em 2em;
}

.touch-button a {
    color: white;
    text-decoration: none;
}

.hero-image {
    position: relative;
    padding: 0em;
    margin: 0em;
}

.hero-image-main {
    width: 100%;
    padding: 0;
}

.hero-card-1 {
    width: 40%;
    position: absolute;
}

.hero-card-2 {
    width: 40%;
    position: absolute;
    bottom: -20px;
    right: 0;
}

.seccion-proyectos h2 {
    font-size: 3vw;
    font-weight: bold;
    margin: 2vw;
}

.coleccion-de-proyectos {
        display: grid; 
        grid-template-columns: 1fr; 
        grid-template-rows: 1fr 1fr 1fr; 
        gap: 0px 0px; 
        grid-template-areas: 
}

.background-card1 {
    background-image: url('./project-assets/projects-section/1.jpg');
    width: 100%;
    height: 25vh;
    background-size: cover;
    background-position: center;
}

.background-card2 {
    background-image: url('./project-assets/projects-section/2.jpg');
    width: 100%;
    height: 25vh;
    background-size: cover;
    background-position: center;
}

.background-card3 {
    background-image: url('./project-assets/projects-section/3.jpg');
    width: 100%;
    height: 25vh;
    background-size: cover;
    background-position: center;
}

.project-card {
    margin: 0.5rem;
}
.grid-logos {
    text-align: center;
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: px 0px; 
    grid-template-areas: 
  }

.project-card-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: left;
    align-content: left;
    background-color: white;
    color: #292e47;
    height: 30vh;
    padding: 2rem;

}

.project-card-title {
    line-height: 2em;
    font-size: 23px;
    font-weight: bold;
    text-align: left;
    padding: 1vw 2vw;
}

.project-card-subtitle {
    text-align: left;
    padding: 0vw 2vw 2vw;
}

.project-link {
    color: #072ac8;
    text-decoration: none;
    font-weight: 500;
    margin: 0em;
    padding: 1rem 0;
    /* padding: 1em; */
}


.service-header {
    margin: 0 5rem;
}

.projects-headings {
    font-size: 3vw;
    font-weight: bold;
    margin: 3rem; 
}
.services-grid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 0;
    margin: 2rem 0rem;

}

.service-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
    background-color: white;
    justify-content: space-around;
    padding: 2rem 2rem;
    margin:  2rem 3rem;
    /* width: 80rem;
    height: 20rem;
    min-height: 250px;
    min-width: 320px; */
}

.project-title {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: left;
    font-weight: bold;
    font-size: 20px;
    /* padding: 1em; */
    margin: 1em 0;
}

.service-icon1 {
    background-image: url(./project-assets/services-section/icons/1.svg);
    background-color: aliceblue;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-position: 50% 50%;
    background-size: 40px;
    background-repeat: no-repeat;
    padding: 1em;
    /* margin: 0 1em; */
}

.service-icon2 {
    background-image: url(./project-assets/services-section/icons/2.svg);
    background-color: aliceblue;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-position: 50% 50%;
    background-size: 40px;
    background-repeat: no-repeat;
    padding: 1em;    
    /* margin: 0 1em; */
}

.service-icon3 {
    background-image: url(./project-assets/services-section/icons/3.svg);
    background-color: aliceblue;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-position: 50% 50%;
    background-size: 40px;
    background-repeat: no-repeat;
    padding: 1em;
    /* margin: 0 1em; */
}

.service-text {
    display: flex;
    flex-direction: column;
    align-items: left;
    align-content: left;
    justify-content: left;
}

.testimonials-grill {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(./project-assets/testimonial-section/orbit.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #292e47;
    position: relative;
    /* display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    background-image: url(./project-assets/testimonial-section/orbit.png);
    background-size: cover;
    background-repeat: none;
    background-position: center;
    background-color: #292e47;
    padding: 7vw;
    margin: 0 5rem;
    position: relative; */
}


.testimonials-grill h1 {
    color: white;
    font-size: 42px;
    text-align: center;
    margin: 4rem 0;
    padding: 0 10rem;
}

.testimonials-grill h2 {
    color:#ffc600;
    font-size: 22px;
    text-align: center;
    margin: 4rem 0;
    padding: 0 7rem;
    font-weight: 500;
    line-height: 2rem;
}

.testimonials-grill > div {
    display: flex;
    flex-direction: row;
    margin: 4rem auto;
}

.testimonials-grill img {
    width: 10rem;
    position: absolute;
    display: none;
}

.emoji1 {
    top: 9%;
    left: 10%;
}

.emoji2 {
    bottom: 9%;
    right: 10%;
}

.emoji3 {
    top: 9%;
    right: 10%;

}

.emoji4 {
    bottom: 9%;
    left: 10%;
}

.container-de-proyectos {
    padding: 0;
    margin: 1rem 2.5rem;
}

.flex-kris {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.kris {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: url(./project-assets/testimonial-section/profile.png);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0 1vw;
}

.kris-box {
    display: flex;

}
.kristine2 {
    padding: 0;
    margin: 0;
    color: rgb(159, 198, 240);
}

.kristine2 a {
    padding: 0;
    margin: 0;
    color: rgb(255, 255, 255);
    text-decoration: none;
}



.service-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
    background-color: white;
    justify-content: space-around;
    padding: 2rem 2rem;
    margin: 0 1rem;
    /* width: 80rem;
    height: 20rem;
    min-height: 250px;
    min-width: 320px; */
}

.project-title {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: left;
    font-weight: bold;
    font-size: 20px;
    /* padding: 1em; */
    margin: 1em 0;
}

.service-icon1 {
    background-image: url(./project-assets/services-section/icons/1.svg);
    background-color: aliceblue;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-position: 50% 50%;
    background-size: 40px;
    background-repeat: no-repeat;
    padding: 1em;
    /* margin: 0 1em; */
}

.service-icon2 {
    background-image: url(./project-assets/services-section/icons/2.svg);
    background-color: aliceblue;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-position: 50% 50%;
    background-size: 40px;
    background-repeat: no-repeat;
    padding: 1em;    
    /* margin: 0 1em; */
}

.service-icon3 {
    background-image: url(./project-assets/services-section/icons/3.svg);
    background-color: aliceblue;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-position: 50% 50%;
    background-size: 40px;
    background-repeat: no-repeat;
    padding: 1em;
    /* margin: 0 1em; */
}

.service-text {
    display: flex;
    flex-direction: column;
    align-items: left;
    align-content: left;
    justify-content: left;
}



.project-description {
    /* padding: 1em; */
    height: 50px;
    margin-bottom: 4em;
}

.footer-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.contenedor-footer {
    background-color: #ffc600;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10vw 25vw;
}

.container-footer-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}
.cajon-formulario {
    text-align: center;
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
}

.container-formulario input, textarea {
    background-color: rgb(224, 222, 222);
}

.container-bajo-footer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 6vw;
}

.footer-content-logo img{
    width: 40%;
}

/* .footer-links {
    display: flex;
    justify-content: space-around;
    flex-direction:column;
} */

.footer-links {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

.footer-content {
    padding: 1vw;
}
.footer-content-address {
    line-height: 1.5vw;
}

.cta-heading {
    font-size: 2vw;
}

.cta-subtitle {
    color: #6C718B;
}

.entra-email input {
    background-image: url(./project-assets/newsletter/icon/mail.svg);
    background-position:left;
    background-repeat: no-repeat;
    width: 20rem;
    height: 6vh;
    border: 0;
    margin: 2vw 1vw;
}

.suscribe-btn input {
    background-color: #072AC8;
    color: white;
    text-decoration: none;
    border: 0;
    width: 20rem;
    height: 6vh;
}


/********** responsive para tablet ****************/
@media (min-width: 769px) {

    /* body {
        background-color: red;
    } */
    .hero-container {
    flex-direction: column;
    }

    .hero-card-1, .hero-card-2 {
        display: inline-block;
    }

    .testimonials-grill img {
        display: inline-block;
        width: 6rem;
    }

    .caja2-form {
        display: flex;
        flex-direction: row;
    }

    .caja-phone {
        padding-left: 2rem;
    }
}

@media (min-width: 992px) {
    /* body {
        background-color: red;
    } */

.botones-central {
    flex-direction: row;
}

.hero-text h1 {
    font-size: 4em;
}

.hero-description {
    font-size: 20px;

}
.hero-container {
    flex-direction: row;
    }

#amazon {
    display: inline-block;
}

.coleccion-de-proyectos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}
.grid-logos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.background-card1 {
    background-image: url('./project-assets/projects-section/1.jpg');
    width: 27vw;
    height: 25vh;
    background-size: cover;
    background-position: center;
}

.background-card2 {
    background-image: url('./project-assets/projects-section/2.jpg');
    width: 27vw;
    height: 25vh;
    background-size: cover;
    background-position: center;
}

.background-card3 {
    background-image: url('./project-assets/projects-section/3.jpg');
    width: 27vw;
    height: 25vh;
    background-size: cover;
    background-position: center;
}
.project-card {
    margin: 0.5rem;
}
.project-card-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: left;
    align-content: left;
    background-color: white;
    color: #292e47;
    width: 27vw;
    height: 28vh;
    padding: 0;
}

.project-card-title {
    line-height: 2em;
    font-size: 23px;
    font-weight: bold;
    text-align: left;
    padding: 1vw 2vw;
}

.project-card-subtitle {
    text-align: left;
    padding: 0vw 2vw 2vw;
}

.project-link {
    color: #072ac8;
    text-decoration: none;
    font-weight: 500;
    margin: 1.3em;
    /* padding: 1em; */
}


}